:root {
	--darkText: hsl(229, 25%, 31%);
	--scoreText: hsl(229, 64%, 46%);
	--headerOutline: hsl(217, 16%, 45%);
}

.App {
	background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/*** SCORE/HEADER SECTION ***/

.score-section-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	border: 3px solid var(--headerOutline);
	border-radius: 10px;
	padding: 1rem;
	max-width: 800px;
}

.game-title-container {
	display: flex;
	align-items: center;
}

.game-title {
	object-fit: contain;
	width: 8rem;
}

.game-title-spacer {
	width: 20vw;
}

.score-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	width: 6rem;
	height: 6rem;
}

.score-label {
	color: var(--scoreText);
	font-size: 1rem;
	position: relative;
	top: 2.5rem;
}

.score-text-container {
	width: 5rem;
	position: relative;
	bottom: 1rem;
}

.score-text {
	color: var(--darkText);
	font-size: 3rem;
}

/*** GAME SECTION ***/

.game-section-container {
	margin-top: 110px;
	height: 300px;
}

.triangle-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: ease-in-out 0.3s;
}

.triangle-image {
	object-fit: contain;
	width: 200px;
}

.hand-all-container {
	display: flex;
}

.hand-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 7.5rem;
	height: 7.5rem;
	border-radius: 50%;
	border: 1rem solid var(--headerOutline);
	transition: ease-in-out 0.1s;
}

.hand-container:hover {
	cursor: pointer;
	box-shadow: 0 0 30px white;
}

.paper-position {
	bottom: 230px;
	left: 30px;
}

.scissors-position {
	bottom: 230px;
	right: 30px;
}

.rock-position {
	bottom: 80px;
}

/*** RESULT SECTION ***/

.result-section-container {
	margin-top: 40px;
	height: 370px;
	width: 100vw;
}

.human-vs-computer {
	text-align: center;
	display: flex;
	justify-content: space-around;
}

.hand-picked {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 7.5rem;
	height: 7.5rem;
	border-radius: 50%;
	border: 1rem solid var(--headerOutline);
	transition: ease-in-out 0.1s;
}

.paper-color {
	border-color: hsl(230, 89%, 65%);
	box-shadow: 0px 5px 1px hsl(230, 89%, 55%), inset 0 5px hsl(217, 16%, 85%);
}

.scissors-color {
	border-color: hsl(40, 84%, 53%);
	box-shadow: 0px 5px 1px hsl(39, 89%, 40%), inset 0 5px hsl(217, 16%, 85%);
}

.rock-color {
	border-color: hsl(349, 70%, 56%);
	box-shadow: 0px 5px 1px hsl(349, 71%, 40%), inset 0 5px hsl(217, 16%, 85%);
}

.loading-color {
	border-color: white;
	background-color: white;
	box-shadow: 0 0 10px white;
}

.picked-text {
	margin-top: 1.5rem;
}

.winner-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.winner-text {
	font-size: 3rem;
	position: relative;
	bottom: 30px;
	transition: ease-in-out 0.1s;
}

.play-button {
	position: relative;
	bottom: 60px;
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: var(--darkText);
	background-color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 1rem 3rem;
	font-size: 1.1rem;
	letter-spacing: 0.2rem;
	transition: ease-in-out 0.1s;
}

.play-button:hover {
	cursor: pointer;
	background-color: transparent;
	color: white;
}

/*** RULES MODAL SECTION ***/

.rules-button {
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: white;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
	padding: 0.7rem 2.3rem;
	margin: 1rem;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	transition: ease-in-out 0.3s;
}

.rules-button:hover {
	cursor: pointer;
	background-color: white;
	color: var(--darkText);
	padding: 0.7rem 5rem;
	letter-spacing: 0.5rem;
}

.rules-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 10px;
	box-shadow: 24px;
	color: var(--darkText);
	padding: 0.1rem 0.5rem 0.5rem;
	display: flex;
	flex-direction: column;
}

.rules-header {
	display: flex;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 0.5rem;
}

.rules-image {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.close-button {
	background-color: transparent;
	border: none;
	min-height: 2rem;
	min-width: 2rem;
}

.close-button-icon {
	border-radius: 50%;
	padding: 5px;
	transition: ease-in-out 0.1s;
}

.close-button-icon:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px var(--headerOutline);
}

.footer-container {
	position: absolute;
	bottom: 1vh;
}

.footer {
	color: var(--headerOutline);
	text-decoration: none;
	transition: ease-in 0.3s;
}

.footer:hover {
	cursor: pointer;
	color: white;
}
